* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card {
  padding: 10px;
  width: 350px;
  height: 450px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  gap: 10px;
  background: url(https://marketplace.canva.com/EAF3DZwB4GQ/1/0/1131w/canva-pink-and-cream-watercolor-background-document-%28a4%29-pbKa9sEjgiE.jpg);
  box-shadow: 4px 1px 33px 13px rgba(34, 60, 80, 0.2);
  border-radius: 12px;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.card h3 {
  color: rgb(14, 10, 10);
  font-weight: 700;
}
.card span {
  display: flex;
  gap: 10px;
  font-weight: 600;
}

.card h6 {
  font-weight: 500;
  color: brown;
}
.card h5 {
  font-weight: 600;
  color: grey;
}

.card p {
  font-weight: 700;
  color: blue;
}
